/* Colors */
$white: #fff;
$neutral-10: #eff2f9;
$neutral-20: #d9deeb;
$neutral-90: #1e2532;
$blue-50: #1a91f0;
$blue-60: #1170cd;
$blue-70: #10529b;

/* Shadows */

/* Z-Index */
$z-header: 100;
$z-navbar: 101;

/* Default sizes */
$font-weight--light:   300 !default;
$font-weight--regular: 400 !default;
$font-weight--bold:    600 !default;

$font-size--default: 16px !default;
$font-size--sm: 10px !default;
$font-size--md: 14px !default;
$font-size--lg: 18px !default;
$font-size--xl: 22px !default;

$header-height: 88px !default;
$header-height--mobile: 73px !default;
$section-margin: 100px !default;
$section-margin--mobile: 40px !default;